/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.currentemp{
  font-size: 100px;
  text-shadow: 4px 6px black;
  text-align: center;
}

.info{
  /*background-color: white;*/
  text-align: center;
  /*color: black;*/
  font-size: 20px;
  padding-top: 150px;
}

#temp{
  font-size: 320px;

}

#location-name{
  font-size: 130px;
}

#country{
  font-size: 50px;
  padding-bottom: 10px;
}

.location{
  font-weight: bolder;
}


/*temperature conditions*/

.warm{
  background:linear-gradient(#f2c37c,#f386cd);
  max-width: 50%;
}

.hot{
  background:linear-gradient(#e95657,#5e45ba);
}

.cold{
  background:linear-gradient(#27c47e,#5e45ba);
}

/*.breezy{
  background-image: url("/test.jpg");
}*/
